<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Este trabajo pertenece al equipo 12-06.
        Los integrantes son:
    <ul>
        <h5> 
            <li>Hernan Duffaur</li> 
            <li>Simon Vargas Russo</li> 
            <li>Horacio Barrabsqui</li> 
        </h5>
         
    </ul>
         
             
               
   
    </h1>
    
</body>
</html>