{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Sobre Nosotros</title>
{% endblock title_pagina %}

{% block h1_texto_header %}
Sobre Nosotros
{% endblock h1_texto_header %}

{% block mi_contenido %}

    <form action="{% url 'busqueda_personas' %}" method="GET">
        {{formulario}}
        <input type="submit" class="btn btn-primary btn-sm" value="Buscar">        
    </form>
    
    <p> 
        {% if personas %}
        {% for persona in personas %}
        <li>
            {{persona.apellido}} , {{persona.nombre}} - {{persona.edad}} --> {{persona.fecha_creacion}} 
        </li>
        {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"></h4>
                    <p>NO ENCONTRADO</p>
                    <p class="mb-0"></p>
            </div>
        {% endif %}
    </p>
{% endblock mi_contenido %}