{% extends 'home/index.html' %}

{% block title_pagina %}
<title>Ver personas</title>
{% endblock title_pagina %}

{% block h1_texto_header %}
Ver personas
{% endblock h1_texto_header %}

{% block index_contenido %}

<p>Listado de personas:</p>
<p>
    {% if personas %}
        {% for persona in  personas %}
            <li>  {{persona.apellido}} , {{persona.nombre}} - {{persona.edad}} --> {{persona.fecha_creacion}} </li>
        {% endfor %}
        
    {% else %}
        <p>No se encontraron resultados</p>
    {% endif %}   
    
</p>
{% endblock index_contenido %} 

