{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Perfil</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<h1>
    PROYECTO FINAL. CONSIGNAS.
    
    
    
</h1>  
<p>
    Curso: Python, Clase Nro 41765    
</p>
<p>
    Grupo: 
<li>
    Contar con un admin en route admin/ donde se puedan manejar las apps y los datos en las apps
</li> 
<li>
    Tener una app de mensajería en el route messages/ para que los perfiles se puedan contactar entre sí.
</li>
<li>
    En caso que no quieran hacer una Web simil Blog, pueden, pero deberá tener la misma estructura el 
    modelo básico, título, subtítulo, texto, imagen/es, autor, fecha. Y la web debe tener
    un funcionamiento similar. 
</li>   
    
</p>
   
{% endblock mi_contenido %}
