{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Perfil</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<h1>
    Informacion Usuario:
</h1>  
<p>
<li>
    Nombre: {{request.user.first_name}}
</li>    
<li>
    Apellido: {{request.user.last_name}}
</li>  
<li>
    Email: {{request.user.email}}
</li>    
</p>
<p>
    <a href={% url 'editar_perfil' %}>Editar Datos</a>
</p>
<p>
    <a href={% url 'cambiar_contrasenia' %}>Cambiar Contrasenia</a>
</p>   
{% endblock mi_contenido %}