{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Vehiculos</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<a class="navbar-brand" href={% url 'crear_vehiculo' %}>Crear Vehiculo</a>
<p>Listado de Vehiculos:</p>

{% comment %} <form action={% url 'ver_mascotas' %} method="GET">
    {{formulario}}
    <button>Buscar</button>
</form> {% endcomment %}
<p>
    {% if object_list %}

        {% for vehiculo in object_list %}
            <li>
                {{vehiculo}
                {% comment %} <button>
                    <a class="navbar-brand" href='#'>Editar</a>
                </button> {% endcomment %}
                <a href={% url 'editar_vehiculo' vehiculo.id %}>Editar</a>
                <a href={% url 'eliminar_vehiculo' vehiculo.id %}>Eliminar</a>
            </li>
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}