{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Ver Vehiculos</title>
{% endblock title_pagina %}

{% block mi_contenido %}

<p>Listado de Vehiculos:</p>

 
<p>
    {% if object_list  %}
        {% for vehiculo in object_list %}
            <li>
                {{vehiculo}}
                {% comment %} Modelo: {{vehiculo.modelo}} {% endcomment %}
                {% comment %} <li>{{persona.nombre}} {{persona.apellido}} {{persona.edad}}</li> {% endcomment %}
                {% comment %} <button>
                    <a class="navbar-brand" href='#'>Editar</a>
                </button> {% endcomment %}
                <a href={% url 'editar_vehiculo' vehiculo.id %}>Editar</a>
                <a href={% url 'eliminar_vehiculo' vehiculo.id %}>Eliminar</a>
            </li>
        {% endfor %}

    {% else %} 
        <p>No se encontraron resultados.</p>
    {% endif %}
{% comment %} <a class="navbar-brand" href={% url 'busqueda_vehiculo'  vehiculo.id %}><button>Buscar</button></a> {% endcomment %}
</p>
<a class="navbar-brand" href={% url 'crear_vehiculo' %}>Crear Vehiculo</a>
<p> </p>
<p> </p>
<p> </p>
<p>Busqueda de Vehiculos:</p>

<form action={% url 'ver_vehiculos' %} method="GET">
    {{formulario}}
    <button>Buscar</button>
</form>

{% endblock mi_contenido %}